@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Titillium+Web:wght@200&display=swap");


:root {
  --royal-orange: #cf920c;
  --light-violet: #b78dccff;
  --loayal-green: #52bb69;
}

body {
  margin: auto;
  width: 400px;
  background: radial-gradient(#4f555e, transparent);
}

#content {
  display: flex;
  flex-direction: column;
  background-color: var(--loayal-green);
  margin: auto;
  width: 350px;
}

header {
  background-color: var(--royal-orange);
  border-radius: 3px;
  box-shadow: 5px 5px 5px grey;
  padding: 10px;
}

h1,
p,
span,
div {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: bold;
}

footer {
  display: grid;
  justify-items: center;
  background-color: var(--royal-orange);
  border-radius: 3px;
  box-shadow: 5px 5px 5px grey;
  padding: 20px;
  padding: 10px;
}

.copyright {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
}

.last-updated {
  font-family: "Titillium Web", sans-serif;
  margin-top: -10px;
}
div.last-updated {
  padding: 10px;
}

img {
  border-radius: 2px;
}
