@media only screen and (min-width: 1200px) {
  /* =========HEAD & NAV ========= */
  html {
    max-width: 100%;
  }
  nav ul li a {
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1em;
  }
  header {
    padding: 0px;
    font-size: 25px;
  }

  h1 {
    margin-left: 5%;
  }

  .header-logo > img {
    max-width: 7rem;
    grid-column: 1;
    padding-left: 0%;
    padding-top: 2%;
  }

  div.container-sitename {
    grid-column: 2/5;
    grid-row: 1;
    padding-left: 10%;
    font-size: 1em;
    color: white;
  }

  nav {
    background-color: transparent;
    grid-column: 4/10;
    grid-row: 1;
  }
  .content-social {
    grid-row: 1;
    grid-column: 10;
  }

  .social-icons > a > img {
    max-width: 4rem;
  }

  nav ul.open {
    display: none;
  }

  @media only screen and (min-width: 35rem) {
    nav ul.open {
      display: none;
    }
  }

  /* === Check --*/

  div.container-sitename {
    grid-column: 2/5;
    grid-row: 1;
    padding-left: 5%;
    color: white;
  }

  nav button {
    display: none;
  }

  nav ul#navicron {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    color: white;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav {
    background-color: transparent;
    grid-column: 5/10;
    grid-row: 1;
  }
  .content-social {
    grid-row: 1;
    grid-column: 10;
  }

  .social-icons > img {
    max-width: 3rem;
  }

  main {
    display: grid;
    grid: 2fr 1fr / 1fr 2fr 2fr 1fr;
    grid-gap: 10px;
  }
  body {
    position: relative;
  }
  /* =====================Body===================*/

  main {
    /*max-width: 80%;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-template-rows: 30% 40% 27%;
  }

  /* ===============Grid Alignment Begins===============*/
  main > div.hero {
    grid-column: 2;
    grid-row: 1/3;
    margin-top: 0px;
    padding: 0;
  }

  img#smallhero {
    display: none;
  }
  img#bighero {
    display: block;
    width: 100%;
    height: auto;
  }
  h1#h1w {
    /*position: absolute;*/
    font-size: 2em;
    background-color: var(--sage);
  }
  h2#h2w {
    /*position: relative;
    margin-left: 68%;
    margin-top: 61%;*/
    padding: 1em;
    background: var(--chocolate-web);
    border-radius: 27px;
  }

  main > div.event {
    grid-row: 1;
    grid-column: 1;
  }

  main > div.weather {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    text-align: center;
  }

  img#logwe {
    max-width: 50%;
  }

  div.weather > p#wedeg {
    position: absolute;
    margin-left: 51%;
    margin-top: 25%;
    font-size: 3em;
  }

  div.weather > p#wetype {
    position: absolute;
    margin-left: 51%;
    margin-top: 52%;
    font-weight: bold;
  }

  main > div.join {
    grid-row: 3;
    grid-column: 1;
  }
  main > div.news {
    grid-column: 2;
    grid-row: 3;
  }

  main > div.spotlight {
    grid-row: 1/4;
    grid-column: 3;
    border: 0;
  }

  @media only screen and (min-width: 1589px) {
    main > div.news {
      border-top-width: 2.5em;
    }
  }

  div.spotlight > section {
    border: 5px solid #eee;
    padding-bottom: 0%;
    margin: 1px;
    padding-top: 11px;
    padding-left: 12px;
  }

  div.spotlight > section > p {
    font-size: 15px;
  }
  div.spotlight > section > h2 {
    font-size: 15px;
  }

  div.spotlight > section > img {
    width: 50%;
    /* margin-left: 22%; */
  }

  main > div.spotlight {
    flex-direction: column;
  }

  div.spotlight > #s23 {
    display: block;
  }

  div.spotlight > section#s24 {
    display: block;
  }




main.join-main > form > fieldset:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}





  /* =====================Footer===================*/
  .footer-logo > img {
    width: 125px;
    padding-top: 5%;
  }
}

main#tyf {
  grid: none;
}

main > div#thankyouforjoining {
  margin: auto;

  width: 50%;
  font-size: 1.5rem;
  margin-top: 4em;
  margin-bottom: 10rem;
}

.description {
  display: block;
  font-size: smaller;
}

/* ======== Directory Base begins ========*/

/* -----GRID VIEW------*/
@media only screen and (min-width: 1200px) {
  main#demean {
    max-width: 70em;
    margin: 0 auto;
  }
  div#defgridview.bcards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  div#defgridview.bcards.open {
    grid-template-columns: repeat(4,1fr);
}
div#defgridview.bcards.open > section {
    display: grid;
    grid-column: 1/5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

/* -----LIST VIEW --------*/




div#chamber-meeting-invite {
    background-color: var(--chocolate-web);
    text-align: center;
    font-size: 2rem;
}


section#spotlight1.biz, section#spotlight2.biz, section#spotlight3.biz{
  text-align:none;}
  
  h3#bizname{
  text-align:none;
}

div.spotlight{
  border: 5px solid;
}


#spotlight1 {
    
    grid-column: 1 / 2;
    grid-row: 1 / 2;}

div.join{
      height:10em;
      height: auto;
    }
div.event{
      height: auto;
    width: auto;
}

div.weather{
      width: auto;
    height: auto;
}

div.news{
      padding: 0;
    margin: 0;
    height: auto;
}

#spotlight3{
  display:block;
}

@media only screen and (max-width: 1200px) {
  #spotlight3{
  display:none;
}
}