@media screen and (min-width: 800px) {
  nav ul {
    flex-direction: row;
  }

  body {
    max-width: 960px;
    margin: 0 auto;
    
    display: flex;
    box-shadow: 2px 2px 12px 0px grey;
    
}
  
  footer.spacer-logo {
    margin-top: 269px;
  }
  section.spacer-logo {
    margin-bottom:190px;
  }

}
