@media screen and (min-width: 800px) {
  nav ul {
    flex-direction: row;
  }

  body {
    max-width: 960px;
    margin: 0 auto;
    height:100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 12px 0px grey;
}
  
  footer {
    margin-top:auto;
  }
}
