@media screen and (min-width: 37em) {         /* 32.5em) { */ 

  nav ul{
		flex-direction: row;
	}
   footer.spacer-logo {
    margin-top: 269px;
  }
  section.spacer-logo {
    margin-bottom:79px;
  }
} 
  