@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jura:wght@300&display=swap");

:root {
  /* Color Scheme https://coolors.co/241623-d0cd94-3c787e-c7ef00-d56f3e */
  --ming: #3c787e;
  --sage: #d0cd94;
  --chocolate-web: #d56f3e;
  --dark-purple: #241623;
  --arctic-lime: #c7ef00;

  --header-font: "Josefin Sans", sans-serif;
  --paragraph-font: "Jura", sans-serif;
  --primary-color: var(--ming);
  --secondary-color: var(--sage);
  --accent1-color: var(--chocolate-web);
  --accent2-color: var(--dark-purple);

  --headline-color-on-color: var(--dark-purple);
  --paragraph-color-on-color: var(--dark-purple);
}

main {
  margin-left: 10px;
  margin-right: 10px;
}
table {
  width: 100%;
}

th {
  height: 70px;
}
td {
  height: 70px;
}
tr {
  text-align: center;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
  color: white;
}

p.colored {
  background-color: skyblue;
  color: var(--paragraph-color-on-color);
  margin-bottom: 22px;
}

p1 {
  font-family: var(--header-font);
  font-size: 20pt;
}
h4 {
  color: var(--ming);
  font-family: var(--header-font);
}

header,
footer {
  background-color: var(--ming);
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 14pt;
}

h2 {
  font-family: var(--header-font);
  font-weight: bold;
  color: var(--chocolate-web);
}
p,
footer,
nav ul {
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 14pt;
}
nav ul {
  background-color: var(--sage);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--sage);
  text-decoration: none;
  margin: 0 auto;
  padding-left: 0px;
}

.button {
  border-radius: 3px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a:link,
a:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  color: white;
  padding: 14px 25px;
  background-color: var(--dark-purple);
}

ul {
  list-style-type: none;
  text-decoration: none;
}

li {
  padding: 5px;
}

footer {
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
}

body {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a.norefer {
  padding: 0;
}
a.avoided:hover {
  background-color: var(--sage);
  color: var(--dark-purple);
  border-radius: 3px;
}

ul.li {
  font-family: var(--pargraph-font);
}
